<div class="card">
  <div class="card-body">
    <h4 class="mb-4 text-center"><i class="fa-solid fa-gear"></i> Generate Simulation</h4>

    <form [formGroup]="simulationCreateForm" (ngSubmit)="onSubmit()" class="mb-3">
      <div class="mb-2 form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="is_public" formControlName="is_public">
        <label class="form-label" for="is_public">Public Simulation</label>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Simulation Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter a unique name" formControlName="name">
      </div>

      <div class="mb-3">
        <label for="maps_count" class="form-label">Number of Concept Maps to generate:</label>
        <input type="text" class="form-control" id="maps_count" name="maps_count" placeholder="Enter a number between 1 and 1000" formControlName="maps_count">
      </div>

      <div class="mb-3">
        <label for="node_min" class="form-label">Concept Map Minimum Nodes Count:</label>
        <input type="text" class="form-control" id="node_min" name="node_min" placeholder="Enter a number above 1" formControlName="node_min">
      </div>

      <div class="mb-3">
        <label for="node_max" class="form-label">Concept Map Maximum Nodes Count:</label>
        <input type="text" class="form-control" id="node_max" name="node_max" placeholder="Enter a number below 30" formControlName="node_max">
      </div>
   
      <div class="mb-3">
        <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="!simulationCreateForm.valid">Generate</button>
      </div>
    </form>
  </div>
</div>
