<app-navbar></app-navbar>

<div class="row mt-5 g-0" *ngIf="loading">
  <div class="col-5"></div>
  <div class="col-2 ms-5 mt-5">
    <div class="ms-3 custom-big-loader mt-5"></div>
  </div>
</div>

<div class="mt-4 h-80 container-fluid">
  <div class="row px-2 mb-4" *ngIf="homework">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <strong>Start Datetime:</strong> {{homework.start_datetime | dateLabel}}<br>
              <strong>Expire Datetime:</strong> {{homework.expire_datetime | dateLabel}}<br>
              <strong>Node Min:</strong> {{homework.node_min}}<br>
              <strong>Node Max:</strong> {{homework.node_max}}
            </div>
            <div class="col-6">
              <strong>Title:</strong> {{homework.title}} <br>
              <strong>Description:</strong> {{homework.body}}
            </div>
            <div class="col-3 d-flex align-items-center" *ngIf="user.role == 1">
              <button class="btn btn-success d-grid w-100" (click)="toggleMapCreation()">{{getMapCreationButtonLabel()}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-classroom-homework-map-create *ngIf="user.role == 0 || (user.role == 1 && hasEnabledMapCreation)"></app-classroom-homework-map-create>

  <app-classroom-homework-teacher-view *ngIf="user.role == 1"></app-classroom-homework-teacher-view>

</div>

