<app-navbar></app-navbar>

<div class="row mt-5 g-0" *ngIf="loading">
  <div class="col-5"></div>
  <div class="col-2 ms-5 mt-5">
    <div class="ms-3 custom-big-loader mt-5"></div>
  </div>
</div>

<div class="mt-4 h-80 container-fluid">
  <div class="row px-2 mb-4" *ngIf="homework">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3" *ngIf="user.role == 1">
            <div class="col-8"></div>
            <div class="col-2">
              <button class="btn btn-warning d-grid w-100" (click)="showEditHomeworkModal()">Edit Homework</button>
            </div>
            <div class="col-2">
              <button class="btn btn-success d-grid w-100" (click)="toggleMapCreation()">{{getMapCreationButtonLabel()}}</button>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <div>
                    <i class="fa-solid fa-fw fa-sheet-plastic me-1"></i> <strong>Title:</strong> {{homework.title}} 
                  </div>
                  <div>
                    <i class="fa-solid fa-fw fa-hourglass-start me-1"></i><strong>Start Date:</strong> {{homework.start_datetime | dateLabel}}
                  </div>
                  <div>
                    <i class="fa-solid fa-fw fa-hourglass-end me-1"></i><strong>Expire Date:</strong> {{homework.expire_datetime | dateLabel}}
                  </div>
                  <div>
                    <i class="fa-regular fa-fw fa-circle me-1"></i> <strong>Node Min:</strong> {{homework.node_min}}
                  </div>
                  <div>
                    <i class="fa-solid fa-fw fa-circle-nodes me-1"></i> <strong>Node Max:</strong> {{homework.node_max}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="card">
                <div class="card-body">
                  <div [innerHTML]="homework.body | safeHtml"></div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <app-classroom-homework-map-create *ngIf="user.role == 0 || (user.role == 1 && hasEnabledMapCreation)"></app-classroom-homework-map-create>

  <app-classroom-homework-teacher-view *ngIf="user.role == 1"></app-classroom-homework-teacher-view>

</div>

<style>
  p {
    margin-bottom: 0;
  }
</style>