<app-navbar></app-navbar>

<div class="row mt-5 g-0" *ngIf="loading">
  <div class="col-5"></div>
  <div class="col-2 ms-5 mt-5">
    <div class="ms-3 custom-big-loader mt-5"></div>
  </div>
</div>

<div class="mt-4 container-fluid h-75">
  <div class="row px-2 mb-4" *ngIf="homework">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <strong>Start Datetime:</strong> {{homework.start_datetime | dateLabel}}<br>
              <strong>Expire Datetime:</strong> {{homework.expire_datetime | dateLabel}}<br>
              <strong>Node Min:</strong> {{homework.node_min}}<br>
              <strong>Node Max:</strong> {{homework.node_max}}
            </div>
            <div class="col-6">
              <strong>Title:</strong> {{homework.title}} <br>
              <strong>Description:</strong> {{homework.body}}
            </div>
            <div class="col-3 d-flex align-items-center" *ngIf="!homework.student_map && user.role == 0">
              <button class="btn btn-success d-grid w-100" (click)="submitHomework()" [disabled]="!isValidGraph">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row h-90 my-4 mx-2" *ngIf="user.role == 1">
    <div class="col-4 h-100">
      <div class="row h-100">
        <div class="col-12 h-100 ps-0">
          <div class="card mb-4 h-100">
            <div class="card-body">
              <div class="alert alert-primary mb-2" role="alert" *ngIf="simulation">

                <p class="mb-0"><i class="fa-solid fa-genderless"></i> Number of Maps: <span class="ms-2">{{simulation!.maps?.length}}</span></p>
                <p class="mb-0 mt-2"><i class="fa-solid fa-genderless"></i> Minimum Nodes Count: <span class="ms-2">{{simulation!.node_min}}</span></p>
                <p class="mb-0"><i class="fa-solid fa-genderless"></i> Maximum Nodes Count: <span class="ms-2">{{simulation!.node_max}}</span></p>
                <p class="mb-0 mt-2"><i class="fa-solid fa-genderless"></i> Minimum Edges Count: <span class="ms-2">{{simulation!.node_min - 1}}</span></p>
                <p class="mb-0"><i class="fa-solid fa-genderless"></i> Maximum Edges Count: <span class="ms-2">{{maxMapsValues.edges}}</span></p>
              </div>

              <label class="form-label">Scatter Plot Param:</label>
              <div>
                <button class="me-3 btn btn-secondary" (click)="updateChartType(0)" [ngClass]="{'btn-primary': current_chart_type == 0}">Entropy</button>
                <button class="me-3 btn btn-secondary" (click)="updateChartType(1)" [ngClass]="{'btn-primary': current_chart_type == 1}">Entropy Percent</button>
                <button class="btn btn-secondary" (click)="updateChartType(2)" [ngClass]="{'btn-primary': current_chart_type == 2}">Effort</button>
              </div>

              <form [formGroup]="simulationFilterForm" (ngSubmit)="renderScatterPlot(current_chart_type)" class="mt-3">
                <div class="row">
                  <div class="col-6">
                    <label for="node_min" class="form-label">Nodes Min:</label>
                    <input type="text" class="form-control" id="node_min" name="simulation_node_min" placeholder="" formControlName="node_min">
                  </div>
                  <div class="col-6">
                    <label for="node_max" class="form-label">Nodes Max:</label>
                    <input type="text" class="form-control" id="node_max" name="simulation_node_max" placeholder="" formControlName="node_max">
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-6">
                    <label for="edge_min" class="form-label">Edges Min:</label>
                    <input type="text" class="form-control" id="edge_min" name="simulation_edge_min" placeholder="" formControlName="edge_min">
                  </div>
                  <div class="col-6">
                    <label for="edge_max" class="form-label">Edges Max:</label>
                    <input type="text" class="form-control" id="edge_max" name="simulation_edge_max" placeholder="" formControlName="edge_max">
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-6">
                    <label for="param_min" class="form-label">{{getChartTypeLabel(current_chart_type)}} Min:</label>
                    <input type="text" class="form-control" id="param_min" name="simulation_param_min" placeholder="" formControlName="param_min">
                  </div>
                  <div class="col-6">
                    <label for="param_max" class="form-label">{{getChartTypeLabel(current_chart_type)}} Max:</label>
                    <input type="text" class="form-control" id="param_max" name="simulation_param_max" placeholder="" formControlName="param_max">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12 text-center">
                    <button class="btn btn-primary me-3" type="submit" >Filter</button>
                    <button class="btn btn-secondary" (click)="resetFilterForm(current_chart_type)">Reset</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 pe-0" [ngClass]="{'d-none': loading}">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Scatter Plot: <small>{{getChartTypeLabel(this.current_chart_type)}}</small></h5>
        </div>
      
        <div class="card-body text-center p-0">
          <div id="container"></div>
        </div>
      </div>    
    </div>
  </div>

  <div class="row px-2 h-100" *ngIf="user.role == 0 && homework">
    <div class="col-3" *ngIf="homework.student_map">
      <div class="card mb-4">
        <div class="card-body">
          <strong>Submitted at:</strong> {{homework.student_map.created_at! | dateLabel}}<br> <br>
          <strong>Entropy (H):</strong> {{homework.student_map.entropy!.toFixed(2)}}<br>
          <strong>Entropy Percent (Hr):</strong> {{homework.student_map.entropy_percent!.toFixed(2)}}<br>
          <strong>Effort (M):</strong> {{homework.student_map.effort!.toFixed(2)}}<br>
        </div>
      </div>
    </div>
    <div class="col-3" *ngIf="!homework.student_map">
      <div class="card mb-4">
        <div class="card-body">      
          <form [formGroup]="nodeCreateForm" (ngSubmit)="onSubmitNode()">
            <div class="mb-3">
              <label for="title" class="form-label">Node Name:</label>
              <input type="text" class="form-control" id="node_name" name="node_name" formControlName="name">
            </div>

            <div class="text-center">
              <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="!nodeCreateForm.valid">Add</button>
            </div>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-body">      
          <div class="mb-3">
            <label for="source_node" class="form-label">Source Node:</label>
            <ng-select id="source_node" name="source_node" [items]="nodes" 
                      bindLabel="label" 
                      bindValue="id" 
                      [(ngModel)]="sourceLinkNodeId">
            </ng-select>
          </div>

          <div class="mb-3">
            <label for="target_node" class="form-label">Target Node:</label>
            <ng-select id="target_node" name="target_node" [items]="nodes" 
                      bindLabel="label" 
                      bindValue="id" 
                      [(ngModel)]="targetLinkNodeId">
            </ng-select>
          </div>

          <div class="mb-3">
            <label for="link_label" class="form-label">Label:</label>
            <input type="text" class="form-control" id="link_label" name="link_label" [(ngModel)]="labelLink">
          </div>

          <div class="text-center">
            <button class="btn btn-primary d-grid w-100" (click)="linkNodes()" [disabled]="!sourceLinkNodeId || !targetLinkNodeId || !labelLink">Link</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <ngx-graph
        class="chart-container"
        [showMiniMap]="false"
        [layoutSettings]="layoutSettings"
        [links]="links"
        [nodes]="nodes"
      >
        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>
      
        <ng-template #nodeTemplate let-node>
          <svg:g class="node">
            <svg:rect
              rx="15"
              [attr.width]="node.dimension.width"
              [attr.height]="node.dimension.height"
              [attr.fill]="node.data.color"
            />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
              {{node.label}}
            </svg:text>
          </svg:g>
        </ng-template>
      
        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%"
              >
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
  </div>
</div>